# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
server.log
server_err.log
testsprite_tests/tmp/
testsprite_tests/*.html
testsprite_tests/*.md
testsprite_tests/*.json
mcp_config.json

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts